<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>航行粗壮圆</title>
    <meta name="keywords" content="keywords">
    <meta name="description" content="websocket在线测试工具，可以通过socke测试工具发起websocket连接，进行websocket通信测试，本站提供了ws和wss两个websocket连接地址，也可以使用其他socke服务器地址进行连接测试。">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/chat.style.css}" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
    <a class="navbar-brand" href="https://www.idcd.com/">
        <img src="pic/logo.ico" class="icon svg-icon" style="width:60px;height:30px;" aria-hidden="true">
        航航粗壮圆
    </a>
</nav>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent border-bottom rounded-0">
        <li class="breadcrumb-item active" aria-current="page">首页</li>
        <li class="breadcrumb-item"><a href="/chat">命令窗</a></li>
        <li class="breadcrumb-item"><a href="">开放API</a></li>
    </ol>
</nav>
<footer class="border-top bg-white mt-5 fixed-bottom">
    <div class="d-flex justify-content-between text-muted px-2 py-1">
        <div class="bd-highlight">
            <div class="d-inline"><small class="text-muted">© 2020</small></div>
            <div class="d-inline"><small class="text-muted"></small></div>
        </div>
        <div class="bd-highlight d-none d-sm-block">
            <small class="text-muted ml-2">Beta 1.0.1</small>
            <small class="text-muted ml-2">航航粗壮圆</small>
            <a target="_blank" rel="external nofollow" href="http://www.beian.miit.gov.cn"><small class="text-muted ml-2">粤ICP备19138954号</small></a>
            <!--<a target="_blank" rel="external nofollow" href="http://www.beian.miit.gov.cn"><small class="text-muted ml-2">粤公网安备 xxxx号</small>-->
            </a>
        </div>
    </div>
</footer>
</body>
<script th:src="@{js/websocket.js}"></script>
